.article--items {
  flex: 0 0 100%;
}

@media only screen and (min-width: 1440px) {
  .article--items {
    flex: 0 0 50%;
  }
}

body.home {
  grid-template-rows: 10% 5% auto auto 1fr;
}
#post1 {
  grid-column: 1 / span 2;
}

#post2 {
  grid-column: 1 / span 2;
}

.card {
  flex: 0 0 100%;
  width: 90%;
}
@media only screen and (min-width: 1024px) {
  body.home {
    grid-template-rows: 10% 5% auto 1fr;
  }

  #post1 {
    grid-column: 1;
  }

  #post2 {
    grid-column: 2;
  }

  .card {
    flex: 0 0 70%;
    width: 70%;
  }
}
